<p id="notice"><%= notice %></p>

<h1><%= I18n.t('books.name') %></h1>

<table>
  <thead>
    <tr>
      <th><%= I18n.t('books.fields.title') %></th>
      <th><%= I18n.t('books.fields.description') %></th>
      <th><%= I18n.t('books.fields.body') %></th>
      <th><%= I18n.t('books.fields.author') %></th>
      <th><%= I18n.t('default.actions.name') %></th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.title %></td>
        <td><%= book.description %></td>
        <td><%= book.body %></td>
        <td><%= book.author %></td>
        <td><%= link_to I18n.t('default.actions.show'), book %></td>
        <td><%= link_to I18n.t('default.actions.edit'), edit_book_path(book) %></td>
        <td><%= link_to I18n.t('default.actions.destroy.action'), book, method: :delete, data: { confirm: I18n.t('default.actions.destroy.confirm') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to I18n.t('default.actions.new'), new_book_path %>
